name: 'juejin Bot'
on:
  push:
  schedule:
    # 定时任务，在每天的10点
    - cron: "0 23 * * *"

env:
  JUEJIN_COOKIE_KEY: ${{ secrets.JUEJIN_COOKIE_KEY }}

jobs:
  run-juejin-bot:
    runs-on: ubuntu-latest
    steps:
      # 首先copy git仓库到虚拟机上
      - name: 'Checkout codes'
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1  #安装node.js
        with:
          node-version: '14'
          
      - name: Install Dependency
        run: |
          npm install
      - name: node juejin
        # 要运行的js脚本，放在根目录下
        run: |
          node ./juejin.js "${{secrets.JUEJIN_COOKIE_KEY}}"
